__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg

venv/
.venv/
env/

data/
!data/external/pretrained_models/.gitkeep

models/
!models/.gitkeep

experiments/mlruns/

.ipynb_checkpoints/
*.ipynb

.env
!.env.example

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

reports/
